<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What We Do</h2>
                <hr class="light">
                <p class="text-faded">Penny Profit blends the power of crowdfunding with the leftover change from everyday purchases to help startups grow. Ever thought of what your life would be like today had you invested just a few pennies into the early stages of a single corporate giant? Penny Profit allows you to own a part of tomorrow's top companies today!</p>
            </div>
        </div>
    </div>
</section>
