<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Security</h2>
                <hr class="primary">
                <p>We're taking our time making sure that our service is as secure as possible.</p>
                <p>Every interaction with our service is encrypted using state of the art SSL technology, passwords are stored as hashes using the best-in-class <a href="https://password-hashing.net/">argon2</a> password-hashing function, and bank credentials are never stored in our database.</p>
            </div>
      </div>
    </div>
</section>
