<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Security</h2>
                <hr class="light">
                <p class="text-faded">We're taking our time making sure that our service is as secure as possible.</p>
                <p class="text-faded">Every interaction with our service is encrypted using state of the art SSL technology, passwords are stored as hashes using the best-in-class <a href="https://password-hashing.net/" style="color:rgba(255, 255, 255, 0.7);text-decoration:underline">argon2</a> password-hashing function, and bank credentials are never stored in our database.</p>
            </div>
      </div>
    </div>
</section>
<section style="background-color:rgba(0, 0, 0, 0.7)">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 text-center">
              <p class="text-faded">Penny Profit &copy; 2016</p>
              <!--<p class="text-faded">Contact: Alex Hill, <a href="mailto:alex@mypennyprofit.com">alex@mypennyprofit.com</a></p>-->
          </div>
    </div>
  </div>
</section>
